<!doctype html>

<html>
    <head>
	<title>Consent Form</title>
	<script src="static/jquery-min.js" type="text/lib/javascript"> </script>
	<script src="static/cardtask.js" type="text/js/javascript"> </script>
	<link rel=stylesheet href="static/css/task.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
	<script type="text/javascript">
	    function onexit() {
		self.close()
	    }
	</script>
    </head>
    <body>
	<div class="instruct" id="main">
	    <h1>Consent form.</h1>
            <p class="warm">Hello there! Thank you for taking the time to
            participate in this experiment. Below is a consent form that
            describes the nature of the experiment, what to expect, and how you
            will be measured. Please take the time to read this over before
            deciding to participate in this experiment.</p>
	    <div class="legal">
            <p>Title of Project: Effect of forgone payoffs in a dynamic four-armed bandit task.
            This study has been approved by UCL Research Department’s Ethics Chair</p>
            <p>We would like to invite you to participate in this research project directed by researchers at UCL. You
            should only participate if you want to; choosing not to take part will not disadvantage you in any way.
            Before you decide whether you want to take part, it is important for you to read the following
            information carefully and discuss it with others if you wish. Ask us if there is anything that is not clear
            or if you would like more information.</p>
            <p>All data will be handled according to the Data Protection Act 1998 and will be kept anonymous. Only
            UCL researchers working with Dr. Maarten Speekenbrink will analyze these data. With your permission, we may
            want to use an extract of the video recording for teaching, conferences, presentations, publications,
            and/or thesis work.</p>
            <p>Participant’s Statement: By clicking "I Agree" I agree that I have read the information sheet. I
            understand that I am free to withdraw from the study without penalty if I so wish, and I consent to the
            processing of my personal information for the purposes of this study only and that it will not be used for
            any other purpose. I understand that such information will be treated as strictly confidential and handled
            in accordance with the provisions of the Data Protection Act 1998.</p>
	    <p><a href="javascript:window.print()">Please print a copy of this consent document to keep.</a></p>
	    </div>
	    <div class="instructions warm">Do you understand and consent to the terms of the experiment explained above?</div>
	    <input type="button" class="continue" id="IAgree" value="I Agree" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
	    <input type="button" id="NoThanks" value="No Thanks" onclick="onexit()">
	</div>
    </body>
</html>
