<!doctype html>

<html>
<head>
	<title>Debriefing</title>
	<link rel="stylesheet" href="static/css/task.css" type="text/css" media="screen">
</head>
<body>
	<div id="debriefing">
		<h1>Debriefing</h1>

		<div id="debriefingtext">
		<p>Thank you for your participation in our study!  Your anonymous data makes an
		important contribution to our understanding of human decision making. </p>

		<p>The purpose of this experiment was to determine the optimality of human decision making. In life we are
        expected to choose between 'exploring' and 'exploiting. This dichotomy transcends species, birds determine which
        bushes to feed at through exploring before exploiting the most valuable option. So it is with humans,
        we search for jobs (exploring) before choosing (exploiting). This experiment aimed to simulate this paradigm and
        your participation will contribute towards understanding the optimality and process of human
        decision making. Thank you.</p>
		
		<p>If you have any questions about this research, you may contact the
        <a href="mailto:psychUC13@gmail.com">principal investiagtor</a></p>
		</div>

			<p class="cool">Do you agree to the following statement?</p>
			<div id="affirmationbox">
				<p>I feel that I have been adequately debriefed about the nature
					of the study.  The investigator has explained the purposes of the
					research to me.</p>
					<table><tr>
						<td id="affirmative" onClick="javascript:document.forms['accept'].submit()">Yes, I agree.</td>
						<td id="negative" onClick="javascript:document.forms['decline'].submit()">No, I will contact the experimenter with questions.</td>
					</tr></table>
					<form id="accept" action="complete" method="post">
						<input type="hidden" name="assignmentid" value="{{ assignmentId }}" />
						<input type="hidden" name="workerid" value="{{ workerId }}" />
						<input type="hidden" name="agree" value="true" />
					</form>
					<form id="decline" action="complete" method="post">
						<input type="hidden" name="assignmentid" value="{{ assignmentId }}" />
						<input type="hidden" name="workerid" value="{{ workerId }}" />
						<input type="hidden" name="agree" value="false" />
					</form>
			</div>
	</div>
</body>

</html>
