<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
</head>
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<div>
		<p>In this study human decision making is studied by using decks of numbers. You will be asked to pick from a
        selection of four decks of numbers. Your aim is to maximise your return, please try to consistently pick the
        highest value deck. The size of your bonus will be dependent upon your performance in this task.</p>
		<div class="prompt">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
    </div>
</div>
</html>