<!doctype html>

<html>
	<head>
		<title>CompCog Psychology Experiment</title>
		<style type="text/css">
            #acceptpage {
                margin-top: 75px;
                text-align: center;
            }
		</style>
        <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
	</head>
	<body>
    <div id="acceptpage">
		<img id="logo" src="static/images/ucl-logo.png" alt="University College London Logo" />
		{% if assignmentid != "ASSIGNMENT_ID_NOT_AVAILABLE" %}
		<h1>Thank you for accepting this HIT!</h1>
		<p>By clicking the following URL link, you will be taken to the experiment,
				including complete instructions and an informed consent agreement.</p>
		
		<script>
			function openwindow() {
				popup = window.open('/consent?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+screen.availWidth+',height='+screen.availHeight+'');
				popup.onunload = function() { location.reload(true) }
			}
		</script>
		<p>
		Please disable pop-up blockers before continuing.
		</p>
		<p><input type="button" value="Ok, I understand, I'm ready to start" onClick="openwindow()"></p>

		{% else %}
		<h1> Sorry, your assignment ID is not valid</h1>
		<p>Amazon has assigned you an invalid key, we will not be able to use it in this experiment.</p>
        <p>This task can only be completed once. If you have already
        completed this task before the system will not allow you to run
        again. If this looks familiar please release the hit so someone
        else can participate.</p>

		Otherwise, please click the "Accept Hit" button on the Amazon site above to begin the task.
		{% endif %}
    </div>
	</body>
</html>
