<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/styles.css"/>


</head>
<body>

<h1>Test Phase</h1>
<div id="instructions">What color is this word?</div>
<div id="stim"></div>
<div id="query"></div>

<script type="text/javascript"> var data = 1; </script>

<div class="container">
    <div class="row">
        <div class="col-xs-3 _card"><p id="1"></p></div>
        <div class="col-xs-3 _card"><p id="2"></p></div>
        <div class="col-xs-3 _card"><p id="3"></p></div>
        <div class="col-xs-3 _card"><p id="4"></p></div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled">
                <li></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>